body {
  margin: 0;
  font-family: Arial;
  background-color: #f2f2f2;
}
.box {
  color: #fff;
  padding: 1em;
  text-align: center;
  background-color: #efefef;
}
.tweets {
  background-color: #a2ded0;
}
.replies {
  background-color: #f4d03f;
}
.search {
  background-color: #6c7a89;
}
.messages {
  background-color: #59abe3;
}
.search {
  grid-area: search;
}
.replies {
  grid-area: replies;
}
.messages {
  grid-area: messages;
}
.tweets {
  grid-area: tweets;
}
.app-layout {
  display: grid; /* Set the display property to grid. */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Divide the container element into four columns, each column is 1fr (one
fraction) of the free space within the grid container .*/
  grid-template-rows: 100vh; /* Create one row and set the height to be 100vh (full viewport height). */
  grid-template-areas: 'search replies messages tweets';
}
@media screen and (max-width: 1024px) {
  .app-layout {
    display: grid; /* Set the display property to grid. */
    grid-template-columns: 1fr 1fr; /* Divide the container element into four columns, each column is 1fr (one
  fraction) of the free space within the grid container .*/
    grid-template-rows: 50vh 50vh; /* Create one row and set the height to be 100vh (full viewport height). */
    grid-template-areas:
      'left-top right-top'
      'left-bottom right-bottom';
  }
  .search {
    grid-area: left-top;
  }
  .replies {
    grid-area: right-top;
  }
  .messages {
    grid-area: left-bottom;
  }
  .tweets {
    grid-area: right-bottom;
  }
}
